@{
    ViewData["Title"] = "Upload File";
}

<form asp-controller="Process" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Scan File</button>
</form> 